main{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 90%
  height:100vh;
}
     

/* flexbox row */
.row {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    }

/* 
flexbox column use this to create a flexbox column layout
*/
.column{
    display: flex;
    flex-direction: column
}
/*
box transition glow use transition and box shadows to flow on hover
*/
.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.code-card:hover, 
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}
/*overlay card with title 
use position properties and negative margins to raise
elements higher than their natural starting point
*/
.card-header {
    position: relative;
    margin-top: -20px;
}
