main{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 90%
  height:90vh;
}

.box{
  width:80%;
  height:80%;
}

header, footer{
  background-color: pink;
  display: inline;

.column{
    display: flex;
    flex-direction: column
}
  
.card {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.card:hover {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

/*overlay card with title 
use position properties and negative margins to raise
elements higher than their natural starting point

.card-header {
    position: relative;
    margin-top: -20px;
}
*/

@media screen and (max-width:992px){
  nav{background-color:pink}

@media screen and (max-width:768px){
  nav{background-color:purple}
  
@media screen and (max-width:576px){
  nav{background-color:gray}  
